.home-all-collapse {
    @include container;

    .collapse {
        padding: 0.5rem 5rem;

        &__toggle {
            @include font;
            text-align: left;
            width: 100%;
            background: $primary-color ;
            border: unset;
            cursor: pointer;
            margin: 0;
            padding: 8px 18px;
            border-radius: 5px;
            color: white;

        }

        &__content {
            overflow: hidden;
            height: 0;
            transition: height ease 0.3s;

            // &--show {
            //     height: auto;
            // }

            &__text {
                @include font;
                font-weight: 400;
                padding: 8px 18px;
                border-radius: 5px;
                background: $secondary-color;
                color: $primary-color;

            }
        }
    }
}