.home-all-collapse {

    /* About */
    &--about {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;

        @include mobile {
            margin-top: 5px;
        }

        .collapse {
            max-width: 1023px;
            margin: 0 0 30px 0;

            @include mobile {
                max-width: 335px;
                margin: 10px;
            }

            &__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 47px;
                text-align: left;
                width: 100%;
                font-size: 24px;
                background: $primary-color ;
                border: unset;
                cursor: pointer;
                margin: 0;
                padding: 8px 18px;
                border-radius: 5px;
                color: white;

                @include mobile {
                    border-radius: 5px;
                    height: 30px;
                    font-size: 13px;
                }

                &__icon {
                    text-align: right;

                    @include mobile {
                        width: 20px;
                        height: 13px;
                    }
                }
            }

            &__content {
                overflow: hidden;
                height: 0;
                transition: height ease 0.3s;

                &__text {
                    font-size: 24px;
                    font-weight: 400;
                    padding: 8px 18px;
                    border-radius: 5px;
                    background: $secondary-color;
                    color: $primary-color;

                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    /* ProductSheet */

    &--productsheet {
        display: flex;
        margin-bottom: 30px;
        gap: 5%;


        @include mobile {
            margin: 15px 0;
            flex-direction: column;
            gap: 1.5rem;
        }

        .collapse {
            width: 100%;

            &__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 52px;
                font-size: 18px;
                text-align: left;
                width: 100%;
                background: $primary-color ;
                border: unset;
                cursor: pointer;
                margin: 0;
                padding: 8px 18px;
                border-radius: 10px;
                color: white;

                @include mobile {
                    height: 30px;
                    font-size: 13px;
                    border-radius: 5px;
                }

                &__icon {
                    text-align: right;

                    @include mobile {
                        width: 14px;
                        height: 10px;
                    }

                }
            }

            &__content {
                overflow: hidden;
                height: 0;
                transition: height ease 0.3s;

                &__text {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 8px 18px;
                    border-radius: 5px;
                    background: $secondary-color;
                    color: $primary-color;

                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* ProductSheet */