.home-all-collapse {

    /* About */
    &--about {
        .collapse {
            @include container-menu;

            &__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;

                text-align: left;
                width: 100%;
                background: $primary-color ;
                border: unset;
                cursor: pointer;
                margin: 0;
                padding: 8px 18px;
                border-radius: 5px;
                color: white;

                &__icon {
                    text-align: right;
                }
            }

            &__content {
                overflow: hidden;
                height: 0;
                transition: height ease 0.3s;

                &__text {

                    font-weight: 400;
                    padding: 8px 18px;
                    border-radius: 5px;
                    background: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }

    /* ProductSheet */

    &--productsheet {
        display: flex;
        gap: 5%;
        // padding-top: 20px;
        @include container-menu;


        .collapse {

            width: 100%;

            &__toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;


                text-align: left;
                width: 100%;
                background: $primary-color ;
                border: unset;
                cursor: pointer;
                margin: 0;
                padding: 8px 18px;
                border-radius: 10px;
                color: white;

                &__icon {
                    text-align: right;
                }
            }

            &__content {
                overflow: hidden;
                height: 0;
                transition: height ease 0.3s;

                &__text {

                    font-weight: 400;
                    padding: 8px 18px;
                    border-radius: 5px;
                    background: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }
}

/* ProductSheet */