.header {
    @include container-menu;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include mobile {
        margin: 0;
        padding: 23px;
        max-width: 335px;
        width: 100%;
        height: 315px;


    }

    &__logo {
        max-width: 210px;
        height: 68px;

        @include mobile {
            width: 145px;
            height: 47px;
        }

    }

    &__navigation {

        ul {
            display: flex;
            justify-content: space-between;
            width: 300px;

            @include mobile {
                width: 0;
            }

            a {
                text-decoration: none;
                padding: 15px;

                li {
                    list-style: none;
                    color: $primary-color;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 142.6%;
                    text-transform: capitalize;

                    @include mobile {
                        text-transform: uppercase;
                        padding: 0 5px 0;
                    }

                    &:hover {
                        text-decoration-line: underline;
                    }
                }
            }

            .nav-active {
                position: relative;

                &::after {
                    content: "";
                }
            }


        }

    }

}