.logement {
    display: flex;
    justify-content: space-between;

    &__presentation {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 36px;
        color: $primary-color;

        & h1 {
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 500;
            line-height: 51px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;

        }

        & h2 {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;

        }
    }

    .home-all-taglines {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 0px 24px 0px;

        .tagline {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-right: 10px;
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 10px;
            width: 115px;
            height: 25px;
            padding: 5px 10px;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            list-style: none;

        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__host {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;


            & img {
                width: 64px;
                height: 64px;
                border-radius: 50px;
                background: #C4C4C4;
            }

            & span {
                font-weight: 500;
                font-size: 18px;
                width: 93px;
                text-align: right;
                padding: 15px;
                line-height: 26px;
                color: $primary-color;
            }

        }

        &__stars {
            display: flex;
            justify-content: flex-end;
            padding: 5px 0 5px 0;

        }
    }
}






//        

//     }

//    
//    