.logement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1240px;
    width: 100%;

    @include mobile {
        flex-direction: column;
        margin: 0;
    }

    &__presentation {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 36px;
        color: $primary-color;


        & h1 {
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 500;
            line-height: 51px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;

            @include mobile {
                font-size: 18px;
                line-height: 25px;
            }

        }

        & h2 {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;

            @include mobile {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .home-all-taglines {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 0 0 0;

        @include mobile {
            flex-wrap: wrap;
            gap: 0.5rem;
            margin: 10px 0 0 0;
        }

        .tagline {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-right: 10px;
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 10px;
            width: auto;
            height: auto;
            padding: 5px 25px;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            list-style: none;

            @include mobile {
                border-radius: 5px;
                font-size: 10px;
            }

        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {

            flex-direction: row-reverse;
            align-items: center;
            padding-top: 15px;
        }

        &__host {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;


            & img {
                width: 64px;
                height: 64px;
                border-radius: 50px;
                background: #C4C4C4;
                margin-left: 12px;

                @include mobile {
                    width: 32px;
                    height: 32px;
                }
            }

            & span {
                font-weight: 500;
                font-size: 18px;
                width: 93px;
                text-align: right;
                line-height: 26px;
                color: $primary-color;

                @include mobile {
                    font-size: 12px;
                    line-height: 17px;
                    width: 55px;
                }
            }

        }

        &__stars {
            display: flex;
            justify-content: flex-end;
            padding: 5px 0 5px 0;

            & img {
                padding: 5px;

                @include mobile {
                    padding: 1px;
                    width: 15px;
                    height: 15px;
                }


            }

        }
    }
}