/*Breakpoints*/

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

/*Container*/

@mixin container {
    max-width: 1440px;
    margin: auto;
    padding: 15px;
}



/* Arrow */

@mixin arrow {
    position: absolute;
    top: 11rem;
    margin: auto;
    cursor: pointer;

    @include mobile {
        width: 12px;
        height: 20px;
        top: 50%;
    }
}