/*Breakpoints*/

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

/*Container*/

@mixin container {
    max-width: 1440px;
    margin: auto;
    padding: 15px;
}

@mixin container-menu {
    max-width: 1240px;
    margin: 50px auto 50px;
    width: 100%;

}

@mixin container-mobile {
    margin: 0;
    padding: 0 25px 0;
    width: 100%;

}

/* Arrow */

@mixin arrow {
    position: absolute;
    top: 11rem;
    margin: auto;
    cursor: pointer;

    @include mobile {
        width: 12px;
        height: 20px;
        top: 50%;
    }
}