*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;

  @include mobile {
    min-width: 375px;
  }
}

header,
main {
  max-width: 1440px;
  margin: auto;
  padding: 0 30px 0 30px;
  width: 100%;

  @include mobile {
    min-width: 335px;

  }

}