*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header,
main {
  @include container;

  // @include mobile {
  //   padding: 5px 15px 0 15px;
  // }
}